.header{
    width: 155%;
    height: 550px;
    margin-left: -1%;
    overflow: hidden;
    margin-top: -1%;
    background-color: rgb(223, 22, 22);
}

body{
    background-color:rgb(15, 90, 72)
}

h1{
    font-size: 400px;
    margin: 3%;
    text-align: center;
    margin-top: 0.5%;
    float: left;
    
}

.content,.content2,.content3{
    font-size: 80px;
    font-style: italic ;
    justify-content: center;
    height: 255px;
    float: left;
    margin: 15px;
    width: 20%;
    margin-top: 100px;
    border: 5px solid;
    background-color: aliceblue;
    margin-left: 0%;


}

h2{
    font-size: 80px;
    font-style: italic ;
    justify-content: center;   
    background-color: aliceblue;
    display: flex;
    margin: 2px;  
    float: left 3%;
    
}

p{
text-align: center;

}

.container{
    font-size: 80px;
    font-style: italic ;
    text-align: center;
    border : 1px solid;
    border-width: 4px;
    background-color: aliceblue;
    height: 450px;
    margin-bottom: 10px;
    margin-top: 1%;
    width: 61.5%;
    margin-left: 1%;
    line-height: 1cm;

}

h4{
    text-align: center;
    line-height: 0.5cm;
    justify-content: top;
   
}
.thumbnail{
margin-top: 6%;
margin-left: 0%;
margin-bottom: 50px;
}
